@import url(https://fonts.googleapis.com/css?family=VT323);

html {
	font-family: 'VT323', monospace ;
	font-size: 24px;
}

body {
  background-image: url('/imgs/purplelinebackground.png'); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(208, 202, 242);
}

#container {
  width: 300px;
  height: 120px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

#logo {
  max-width: 100px; 
  height: auto;
}

#name, #logo{
  display: inline-block;
  padding-left: 50%;
  font-size: 100px;

  text-shadow: -25px 25px red, -50px 50px blue;
}

p {
    display: inline-block;
    margin-left: 50px;
    margin: 6px;
}

footer {
    text-align: center;
    background-color: white;
    color: black; 
    position: absolute;
    left: 0;
    bottom: 0;  
    width: 100%;
}


/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* WEI SHIT */
/* .button {
  background: white;
	margin: 0 auto;
	max-width: 1100px;
	padding: 2ch;
	width: 100%;
}

#btnChoose {
  background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
}

#btnChoose:hover {
  background: #BCBCBC;
} */

.button {
  font-family: 'VT323', monospace ;
	font-size: 24px;
  font-size: 50px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}