.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#upload-form {
  margin-top: 100px;
  text-align: center;
}

.playlist {
  margin: auto;
  width: 400px;
  margin-top: 20px;
}

.tracks {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

.index {
  display: inline-block;
}

.filename {
  display: inline-block;
}

.sound {
  margin-top: 5px;
}