#container {
  width: 500px;
  height: 120px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

#logo {
  max-width: 100px;
  height: auto;
  padding-right: 20%;
}

#name, #logo {
  display: inline-block;
  font-size: 100px;
  text-shadow: -25px 25px red, -50px 50px blue;
}