footer {
    text-align: center;
    background-color: white;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;  
    width: 100%;
}

p.end {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}