@import url(https://fonts.googleapis.com/css?family=VT323);

html {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

body {
  background-image: url('./Assets/purplelinebackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(208, 202, 242);
}

#user {
  width: 650px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

#user > button {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

#user > button:hover {
  background-color: lightgray;
}

div.App {
  min-height: 100vh;
  position: relative;
}